body {
padding: 0px;
}

header{
    background-color: rgb(207, 117, 132);
    color: white;
    font-weight: bold;
}

li a {
    color: white; 
    text-decoration: none;
    position: fixed;
    text-decoration: underline;

}

h1 {
    color: rgb(207, 117, 132);
}

img {
    
}